.createOperator {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.titleOperator {
    color: #203864;
    font-size: 30px;
    margin: 0;
    text-decoration: underline;
}

.formOperator {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    color: #203864;
    font-size: 20px;
    border: solid 3px #203864;
    border-radius: 25px;
    padding: 20px;
}

.formElement {
    border-color: #203864;
    border-radius: 20px;
    font-size: 20px;
    width: 200px;
    padding-left: 20px;
    background-color: #F7F7F7;
}

.btnCreateOperator {
    width: 300px;
    border-color: #203864;
    border-radius: 20px;
    font-size: 20px;
}