.modifyOperator {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.titleOperator {
    color: #203864;
    font-size: 30px;
    margin: 0;
    text-decoration: underline;
}

.cardsOperatorFlex {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
    border: #203864 solid 3px;
    border-radius: 25px;
    padding: 20px;
}

