body {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  box-sizing: border-box;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}
