.widthPi{
    width: 200px;
}

.widthClient{
    width: 300px;
}

.widthDesignation{
    width: 400px;
}

.widthDate{
    width: 200px;
}

.widthOperator{
    width: 350px;
}

.widthTimeProd{
    width: 60px;
    padding-right: 12px;
}

.widthProdTheo{
    width: 200px;
}

.widthProdQuantity{
    width: 200px;
}

.widthProdWaste{
    width: 200px;
}

.widthComments{
    width: 600px;
}








